<h3><%= @employee.first_name %> <%= @employee.last_name  %></h3>
<ul style="list-style:none">
  <li>Alias: <%= @employee.alias %></li>
  <li>Title: <%= @employee.title %></li>
  <li>Office: <%= @employee.office %></li>
  <li>Dog: <%= @employee.dog.name %></li>
  <li><img src=<%= @employee.img_url %> alt="Employee_Profile"></li>
</ul>
